@model PictureHTTP.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<script src="../wwwroot/js/site.js"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p id="allPictures"></p>

    <button id="getAllPictures">Get all pictures</button>
    <button id="upload">Upload a new picture</button>
</div>
